@import url("https://fonts.googleapis.com/css2?family=Andada&display=swap");

* {
	color: white;
	font-family: "Andada", serif;
	font-size: 24px;
}
.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* /////////////////////////////////////////// */
/* /////////////////////////////////////////// */
/* /////////////Main Styling////////////////// */
/* /////////////////////////////////////////// */
/* /////////////////////////////////////////// */

.NavBarContainer {
	/* height: 20rem; */
	/* padding-top: 2rem; */
	background-color: white;
}

/* ///////////////////////////////////////////// */
/* ///////////////////////////////////////////// */
/* //////////////////Nav Top//////////////////// */
/* ///////////////////////////////////////////// */
/* ///////////////////////////////////////////// */
.navTopContainer {
	width: 100vw;
	height: 14vh;
	background-color: #f0a832;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.navTopLeft {
	width: 33vw;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
	/* background-color: black; */
}

.navTopRight {
	width: 33vw;
	display: flex;
	align-items: center;
	justify-content: center;
	/* justify-content: space-between; */
	/* background-color: blue; */
}

/* .dropDownContainer {

} */

.logo {
	display: flex;
	align-items: center;
	padding-top: 5px;
}

.dropdown {
	background-color: coral;
	width: 195px;
	height: 45px;
	border-radius: 25px;
	border: none;
}
/* ///////////////////////////////////////////// */
/* ///////////////////////////////////////////// */
/* //////////////////Timely Logo//////////////////// */
/* ///////////////////////////////////////////// */
/* ///////////////////////////////////////////// */

/* .timelyTasteLogo {
	background-color: darkgreen;
	width: 150px;
	height: 150px;
	position: relative;
	top: 50%;
} */

.timely-taste-logo {
	/* width: 20rem; */
	/* background-color: #10181e; */
	border-radius: 50%;
	height: 10rem;
	width: 10rem;
	position: relative;
	top: 50%;
}

/* ///////////////////////////////////////////// */
/* ///////////////////////////////////////////// */
/* ///////////////Nav Bottom//////////////////// */
/* ///////////////////////////////////////////// */
/* ///////////////////////////////////////////// */

.navBottomContainer {
	width: 100vw;
	height: 14vh;
	background-color: #0055a3;
	border-top: 5px solid white;
	display: flex;
	/* align-items: center; */
}
.navBottomLeft {
	width: 50vw;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-evenly;
	/* background-color: black; */
}

.navBottomLeft > h1 > a {
	text-decoration: none;
}
.menuOptionsLeft {
	display: flex;
	align-self: center;
	/* align-items: center;
	justify-content: center; */
}
/* ///////////////////////////////////////////// */
.navBottomRight {
	width: 50vw;
	display: flex;
	align-items: center;
	justify-content: center;
	/* justify-content: space-between; */
	/* background-color: red; */
}

.logo {
	display: flex;
	align-items: center;
	padding-top: 5px;
}

.calendarContainer,
.shoppingCartContainer {
	width: 33%;
	display: flex;
	/* background-color: cadetblue; */
	justify-content: space-around;
}

.shoppingCartContainer {
	padding-right: 15px;
}

nav ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	margin-top: 4em;
	margin-bottom: 4em;
	padding-bottom: 1em;
}
.nav ul:hover {
	background-color: black;
}

nav li {
	display: inline-block;
	margin: 1em;
}

nav a {
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: 1px;

	padding: 0.3em;
	background: red;
}

nav a:hover,
nav a:focus {
	background-color: black;
	cursor: pointer;
}

ul li {
	width: 10rem;
	height: 5rem;
	opacity: 1;
	border-radius: 50px;
	line-height: 40px;
	text-align: center;
}

ul li a {
	text-decoration: none;
	color: white;
	display: block;
}

ul li ul li {
	display: none;
}

ul li:hover ul li {
	display: block;
}
/* /////////////////////////// */
login {
	padding: 50px;
}

.btn,
.fb {
	background-color: rgba(36, 41, 44, 0.9);
	border: none;
	width: 100%;
	text-align: center;
	padding: 14px;
	border-radius: 4px;
	color: white;
}

.fb {
	background-color: #33599d;
}

.input {
	background: rgba(241, 241, 241, 0.7);
	width: 100%;
	padding: 14px;
	border-radius: 4px;
	border: 0;
	color: #3e3e3e;
}
